{% from "blocks/blocks.njk" import countAppReviews with context %}

<mwc-list>
  {# Home link #}
  <a href="https://horatiu.me" target="_blank">
    {# <mwc-list-item>horatiu.me</mwc-list-item> #}
    <mwc-list-item twoline="twoline">
      <span>Horațiu Tănescu</span>
      <span slot="secondary">https://horatiu.me</span>
    </mwc-list-item>
  </a>

  {# App links #}
  <h2 class="hcr-drawer-subtitle">By App</h2>
  {% for app, appEditions in apps | dictsort %}
    <a href="/{{ app }}/">
      <mwc-list-item twoline="twoline">
        <span>{{ appEditions.default.name }}</span>
        <span slot="secondary">{{ countAppReviews(app) }}</span>
      </mwc-list-item>
    </a>
  {% endfor %}

</mwc-list>
