<mwc-list>
  {# Home link #}
  <a href="https://horatiu.me" target="_blank">
    {# <mwc-list-item>horatiu.me</mwc-list-item> #}
    <mwc-list-item twoline="twoline">
      <span>Horațiu Tănescu</span>
      <span slot="secondary">https://horatiu.me</span>
    </mwc-list-item>
  </a>

  {# App links #}
  {# {% for page in collections.drawerApps %}
    <a href="{{ page.url }}">
      <mwc-list-item>{{ page.data.title }}</mwc-list-item>
    </a>
  {% endfor %} #}

</mwc-list>
