/* @import url(https://unpkg.com/@material/typography@7.0.0/dist/mdc.typography.css); */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  --mdc-typography-font-family: "Roboto", sans-serif;
  --mdc-theme-primary: black;
}

body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;

  color: #424242;
  font-family: Roboto, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  margin: 0;
}

a {
  color: #212121;
  text-decoration: none;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

ul {
  margin: 0;
  padding: 0;
}

i[data-emoji] {
  filter: grayscale(1);
  font-style: normal;
}


/* Based on .mdc-typography--headline3 */
h1 {
  font-size: 3rem;
  line-height: 3.125rem;
  font-weight: 400;
  letter-spacing: normal;
}

/* Based on .mdc-typography--headline5 */
h2 {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 400;
  letter-spacing: normal;
}

/* Based on .mdc-typography--headline6 */
h3, .dva-h3 {
  font-size: 1.25rem;
  line-height: 2rem;
  font-weight: 500;
  letter-spacing: 0.0125em;
}


/* ==========================================================================
   Material Design Web Components
   ========================================================================== */

mwc-fab {
  --mdc-theme-secondary: black;
  position: fixed;
  bottom: 1rem;
  right: 1rem;
}

mwc-tab-bar {
  --mdc-theme-primary: white;
  --mdc-typography-button-text-transform: none;
  --mdc-tab-text-label-color-default: rgba(255, 255, 255, 0.7);
  background-color: black;
}


/* ==========================================================================
   Content
   ========================================================================== */

/*
 * Content wrapper
 */

.hcr-content-wrapper {
  margin: 48px auto;
  max-width: 840px;
}

@media(max-width: 1051px) {
  .hcr-content-wrapper {
    margin: 48px 24px;
  }
}

/*
 * Reviews list
 */

.hcr-review-list {
  list-style: none;
}

.hcr-review-list li {
  margin: 0 0 3rem 0;
}

.hcr-review-list li a:first-child {
  font-size: 1.25rem;
  line-height: 2rem;
  font-weight: 300;
  letter-spacing: 0.0125em;
}

.hcr-review-list li p {
  font-size: 2.125rem;
  line-height: 2.5rem;
  font-weight: 300;
  letter-spacing: 0.0073529412em;
  margin-bottom: 0.25rem;
}

.hcr-review-list li[data-fav] p {
  font-weight: bold;
}

.hcr-review-list li a:hover {
  text-decoration-line: underline;
}

.hcr-review-list li a:last-child {
  font-size: 1.25rem;
  line-height: 2rem;
  font-weight: 300;
  letter-spacing: 0.0125em;
}

.hcr-review-list[data-filter="1"] li[data-type="user"] {
  display: none;
}

.hcr-review-list[data-filter="2"] li[data-type="media"] {
  display: none;
}
