{% macro reviewBlock(review, reviewType, app) %}
  <li data-type="{{ reviewType }}"{{ " data-fav" if review.fav }}>
    <a href="{{ app.homeUrl }}" target="_blank"># {{ app.name | safe }}</a>
    <p>{{ review.quote | safe }}</p>
    <a href="{{ review.url }}" target="_blank">{{ (review.sourceLine if review.sourceLine else review.source) | safe }}</a>
  </li>
{% endmacro %}