---
eleventyComputed:
  seoTitle: "{{ metadata.title }}"

seoDescription: What others are saying about my apps (keep me going forward)
---

{% from "blocks/blocks.njk" import reviewBlock with context %}

<!-- <mwc-fab id="shuffleFAB" icon="grading"></mwc-fab> -->

{% set counters = {} %}

<main class="hcr-content-wrapper">

  <h1><span>All</span><span>Media</span><span>User</span> Reviews</h1>

  <ul id="reviewList" class="hcr-review-list">
    {% for app, reviewsByApp in reviews -%}
      {% for appEdition, reviewsByAppEdition in reviewsByApp -%}
        {%- for reviewType, reviewsByType in reviewsByAppEdition -%}
          {%- for reviewsByYear in reviewsByType -%}
            {%- for review in reviewsByYear -%}
              {{- reviewBlock(review, reviewType, apps[app][appEdition]) -}}
              {%- set counters = counters | incrementAttribute(reviewType) -%}
            {%- endfor -%}
          {%- endfor -%}
        {%- endfor -%}
      {%- endfor %}
    {%- endfor %}
  </ul>

  {# {{ counters | dump }} #}

</main>

<footer class="hcr-site-footer">
  <p class="hcr-mb-0">{{ counters.media }} + {{ counters.user }} = {{ counters.media + counters.user }}</p>
</footer>

