---
pagination:
  data: reviews
  size: 1
  alias: app
permalink: "{{ app | slug }}/"
---

{% from "blocks/blocks.njk" import appReviewList with context %}

{% set counters = {} %}

<main class="hcr-content-wrapper">

  <h1 class="app-title">{{ apps[app].default.name }}</h1>
  <h2 class="type-title"><span></span><span>Media</span><span>User</span> Reviews</h2>

  <ul id="reviewList" class="hcr-review-list">
    {{ appReviewList(app, reviews[app], counters, false) }}
  </ul>

</main>

<footer class="hcr-site-footer">
  <p class="hcr-mb-0">{{ counters.media }} + {{ counters.user }} = {{ counters.media + counters.user }}</p>
</footer>
