---
pagination:
  data: reviews
  size: 1
  alias: app
permalink: "{{ app | slug }}/"

eleventyComputed:
  seoTitle: "{{ metadata.title }} - {{ apps[app].default.name }}"
---

{% from "blocks/blocks.njk" import appReviewList, countAppReviews with context %}

<main class="hcr-content-wrapper">

  <h1 class="hcr-app-title">{{ apps[app].default.name }}</h1>
  <h2 class="hcr-type-title"><span></span><span>Media</span><span>User</span> Reviews</h2>

  <ul id="reviewList" class="hcr-review-list">
    {{ appReviewList(app, reviews[app], false) }}
  </ul>

</main>

<footer class="hcr-site-footer">
  {{ countAppReviews(app) }}
</footer>
